*{
    margin: 0;
    padding: 0;
    /* background-color: beige; */
}
.contact-info {

}

.contact-info-item{
    width: 17rem;
    padding: .5rem;
    font-size: smaller;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contact-info-value{
    font-size: smaller;
}
.form-inputs{
    background-color: red;
}