*{
    margin: 0;
    padding: 0;
    /* background-color: beige; */
}
.form-container{
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contact-info-item{
    width: 17rem;
    padding: .5rem;
    font-size: smaller;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contact-info-value{
    font-size: smaller;
}

.contact-form-title{
    font-family: 'Zen Kurenaido', sans-serif;
    color: rgb(99, 160, 8);
}
.form_input{
    font-size: smaller;
    width: 15rem;
}
.text_field_contact{
    width: 100%;
    columns: 30;
    padding: 10px;  
}

.contact-submit-button{
    background-color: rgb(49, 77, 8);
}