*{
    padding: 0;
    margin: 0;
}

.signin-content{
    position: relative;
    right: -15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45em;
    height: 23em;
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0.35);
    font-family: 'El Messiri', sans-serif;
    border-radius: 15px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.signin-form{
    margin: 2em;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.signin-fig{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#signin-img{
    width: 250px;
    height: 230px;
}
.signin-fig a{
    color: rgb(27, 128, 245);
    font-weight: 500;
    margin-top: 0.3em;
    font-size: 0.8rem;
    text-decoration:none;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#signin{
    padding: .3rem;
    border-radius: 5px;
    border: none;
    background-color: cadetblue;
    color: white;
}