*{
    margin: 0;
    padding: 0;
}
.signup-content{
    position: relative;
    left: 50%;
    transform: translate(-57%, -5%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55em;
    height: auto;
    margin: 3.74rem;
    box-shadow: 0px 3px 15px  rgba(0, 0, 0, 0.35);
    font-family: 'El Messiri', sans-serif;
    border-radius: 15px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.signup-form{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 2rem;
}
.form-title{
    font-weight:600;
}
.signup-fig{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.signup-fig a{
    color: rgb(27, 128, 245);
    font-weight: 500;
    margin-top: 2em;
    font-size: 0.8rem;
    text-decoration:none;
    padding: 1rem;
  
}
.signup-fig a:hover{
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#signimg{
    width: 300px;
    height: 300px;
}
.form-input-element{
    width: 300px;
}
.form-input{
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px, 0;
  border-bottom: 1px solid black;
}

.form-input i{
    width: 26px;
    float: left;
    text-align: center;
}

.form-input input{
    border: none;
    outline: none;
    background: none;
    font-size: medium;
    padding-left: 10px;
}

#signup{
    padding: .3rem;
    border-radius: 5px;
    border: none;
    background-color: cadetblue;
    color: white;
    border: none;
    
}

@media screen and (max-width: 990px) {
  
    .signup-content{
        width: fit-content;
        display: flex;
        flex-direction:column-reverse;
        transform: translate(-70%, 0);
    }

   .form-input{
       display: flex;
       flex-wrap: nowrap;
   }

   .signup-form{
       margin-top: 0;
   }

   #signimg{
    width: 170px;
    height: 160px;
   }

   .signup-form{
    padding-top: 0;
    padding-bottom: 2rem; 
    }

 }